* {
    font-family: 'Roboto', sans-serif;
}

/* Helpers */
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

/* Navbar */
.navigation-bar {
    position: fixed;
    z-index: 1;
}
nav {
    background-color: #F92676;
    height: 64px;
}

.nav-link {
    color:white !important;
}

.btn-outline-success {
    border: 1px solid white;
    border-radius: 24px;
    color:white;
    width:142px;
}

.bg-magenta {
    background-color: #F92676;
}

.bg-transparent {
    background: transparent;
}

.hero-branding {
    /* Margin top to space from navbar */
    margin-top: 102px; 
}

.hero-bg-left {
    position:absolute;
    background-image: url('../images/hero-bg-left.svg');
    background-repeat: no-repeat;
    width:300px;
    height:400px;
    top:0; left:0;

}

.hero-bg-right {
    position:absolute;
    background-image: url('../images/hero-bg-right.svg');
    background-repeat: no-repeat;
    width:300px;
    height:400px;
    top:0; right:0;

}

.hero-gradient {
    opacity: 0.93;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-40deg, #FF3D84 0%, #FE1E76 100%);
    background-image: linear-gradient(-40deg, #DA0D58 22%, #FA005C 100%);
    transform: skewY(-12deg);
    transform-origin: top left;
    height:1000px;
    z-index: 0
  }

  .hero-gradient > * {
    transform: skewY(12deg);
  }

  .hero-content {
      position:absolute;
      top:380px;
  }

h1 {	
    height: 366px;	
    width: 689.6px;	
    color: #FFFFFF;	font-family: Roboto;	
    font-size: 88px;	
    font-weight: 900;	
    letter-spacing: -0.09px;	
    line-height: 91px;	
    text-shadow: 0 0 1px 0 rgba(0,0,0,0.14), 0 3px 8px 0 rgba(0,0,0,0.13);
    width:480px;
    margin-bottom:52px;
}

p > span {
    color:white;
}

.hero-mobile {
    width:462px;
    margin-left:42px;
}

.btn-primary {
    background-color: white;
    color:#F6307B;
    border: 1px solid #F6307B;
    padding:16px;
    border-radius: 32px;
    width:300px;
}

/* Mobile Section */
#mobile h3 {
    margin: 35px 0 65px 0;
}

#mobile h5 {
    color: #000000;
    margin-bottom: 21px;
}

#mobile p {
    color: rgba(0,0,0,0.54);
    margin-top: 0;
    margin-bottom: 88px;
}

.atm {
    content: "";
    display: block;
    background: url("../images/ATM.svg") no-repeat;
    padding-left: 40px;
}
.wallet {
    content: "";
    display: block;
    background: url("../images/wallet2.svg") no-repeat;
    padding-left: 40px;
}
.chart {
    content: "";
    display: block;
    background: url("../images/chart.svg") no-repeat;
    padding-left: 40px;
}
.money {
    content: "";
    display: block;
    background: url("../images/Money.svg") no-repeat;
    padding-left: 40px;
}
.gihub {
    content: "";
    display: block;
    background: url("../images/split.svg") no-repeat;
    padding-left: 40px;
}
.rouble {
    content: "";
    display: block;
    background: url("../images/Rouble.svg") no-repeat;
    padding-left: 40px;
}

#mobile .col-md-4:nth-child(even) {
    margin-top: 50px;
}

/* Benefits Section */
#benefit .square {
    border: 1px solid #1BD2E7;
    padding: 45px 43px 20px 45px;
}

#benefit h3 {
    margin-top: 0;
}

#benefit .row .m6:nth-child(even) {
    padding-left: 45px;
}

#benefit p {
    color: rgba(0,0,0,0.54);
}

#benefit .p1 {
    margin-bottom: 30px;
}

.smile:before {
    content: "";
    display: block;
    background: url("../images/Smile.svg") no-repeat;
    width: 32px;
    height: 32px;
}

#benefit .m12 .btn {
    background: #1BD2E7;
    font-size: 20px;
    height: 61px;
    width: 298px;
    border: 3px solid #FFFFFF;
    line-height: 61px;
    border-radius: 30.5px;
    margin-top: 83px;
}

#benefit .m12 .p1 {
    color: rgba(0,0,0,0.54);
}

/* OS Section */
#os {
    padding-top: 80px;
    padding-left: 15%;
    padding-right: 15%;
    background: linear-gradient(302.11deg, #FE3AA4 0%, #FB2978 100%);
    color: #FFFFFF;
    width: 100%;
    max-width: 100%;
}

#os h3 {
    margin-bottom: 80px;
}

#os .col-md-3:nth-child(1) {
    margin-top: 30px;
}

#os .col-md-3:nth-child(3) {
    display: flex;
    align-items: flex-end;
    margin-bottom: 60px;
}

#os p {
    font-size: 12px;
}

/* Team Section */

#team .col-md-3 {
    margin-bottom: 40px;
}

#team h3 {
    margin: 60px auto;
}

#team p {
    margin: 5px auto;
}

#team .p1 {
    font-weight: 500;
}

#team .p2 {
    color: rgba(0,0,0,0.54);
}

/* Footer */


/* Media Queries */
@media only screen and (max-width: 1299px) {
    #mobile p {
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 1099px) {
    #hero h1 {
        font-size: 60px;
    }
}

@media only screen and (max-width: 991px) {
    #mobile h5 {
        font-size: 15px;
    }
    #mobile p {
        font-size: 12px;
        margin-bottom: 30px;
    }
    #mobile .col-md-4:nth-child(even) {
        margin-top: 20px;
    }

    #mobile ul {
        padding-left: 0;
    }
}

@media only screen and (max-width: 780px) {
    #hero h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 767px) {
    #mobile h5 {
        font-size: 24px;
    }
    #mobile h3 {
        margin: 35px 0 25px 0;
    }
    #mobile p {
        font-size: 16px;
    }
    #mobile .col-md-4:nth-child(0) {
        order: 2;
    }
    #mobile .col-md-4:nth-child(1) {
        order: 1;
    }
    #mobile .col-md-4:nth-child(2) {
        order: 3;
        margin-top: 0;
    }
}

@media only screen and (max-width: 600px) {
    #mobile p {
        margin-bottom: 60px;
    }
}

/* Helper Classes */
.h3 {
    font-size: 42px;
    font-weight: 900;
}

.h4 {
    font-size: 28px;
    font-weight: 900;
}

.h5 {
    font-size: 24px;
    font-weight: 500;
}

.h6 {
    font-size: 20px;
    font-weight: 500;
}

.p1 {
    font-size: 16px;
}

.p2 {
    font-size: 14px;
}
