* {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
nav {
    background-color: #F92676;
}

.nav-wrapper ul li a {
    font-size: 18px;
    font-weight: 500;
}

.nav-wrapper ul li a.btn {
    background: unset;
    border: 1px solid #FFFFFF;
    border-radius: 22px;
    line-height: 44px;
    height: 44px;
    width: 168px;
}

/* Hero */
#hero {
    background: #F92676;
    color: #FFFFFF
}

#hero p {
    font-size: 21px;
    font-weight: bold;
    opacity: .5;
}

#hero h1 {
    font-size: 88px;
    font-weight: 900;
}

#hero .row .col a.btn {
    color: #F6307B;
    background: #FFFFFF;
    font-size: 20px;
    line-height: 61px;
    height: 61px;
    width: 239px;
    border-radius: 30.5px;
}

/* Helper Classes */
.quote {
    background: #F92676;
    height: 800px;
    color: #fff;
    position: relative;
    z-index: 1;
}
.quote:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-25deg);
    transform-origin: 100%;
    z-index: -1;
}
