* {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #FFFFFF;
}

/* Helpers */
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.p-b-row {
    padding-bottom:132px;
}

.grey-text {
    color: rgba(0, 0, 0, .54);
}

/* Navbar */
.navigation-bar {
    position: fixed;
    z-index: 1;
}

.navigation-bar.scrolled {
    background-color: #F92676 !important;
    transition: background-color 200ms linear;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}

.benefits-parent {
    height: 740px;
}

.benefits-container {
 position:absolute;
 top:200px;
 height:1000px;
 padding-top: 122px;
 padding-bottom:52px;
 background-color: #1BD2E7;

 transform: skewY(-12deg);
transform-origin: top left;
z-index: -100;
}

.benefits-container > * {
    transform: skewY(12deg);
}

.benefits-container-offset {
    margin-top: -52px;
}

.benefits-box {
    border: 2px solid #1BD2E7;
    padding-left: 46px;
    padding-top: 34px;
    background-color: white;
}

nav {
    background-color: #F92676;
    height: 64px;
    margin: 8px 0 8px 0;
}

.m-b-8 {
    margin-bottom: 8px; 
}

.nav-link {
    color:white !important;
    font-size:18px;
}

.btn-outline-success {
    border: 2px solid white;
    border-radius: 24px;
    color:white;
    width:142px;
    font-size:18px;
}

.btn-outline-lg {
    border: 2px solid white;
    border-radius: 31px;
    color:white;
    width:300px;
    font-size:22px;
    height:62px;
}

.btn-outline-lg:hover {
    color: white;
}

.btn-outline-success:active {
    background-color: white;
    color: #F92676;
    border: 1px solid transparent;
}

.btn-outline-success:hover {
    background-color: white;
    color: #F92676;
    border: 1px solid transparent;
}

.bg-magenta {
    background-color: #F92676;
}

.bg-transparent {
    background: transparent;
}

.hero-branding {
    /* Margin top to space from navbar */
    margin-top: 92px; 
    opacity: 0.52;
    font-size:22px;
    font-weight:bolder;
}

.hero-bg-left {
    position:absolute;
    background-image: url('../images/hero-bg-left.svg');
    background-repeat: no-repeat;
    width:300px;
    height:400px;
    top:0; left:0;

}

.hero-bg-right {
    position:absolute;
    background-image: url('../images/hero-bg-right.svg');
    background-repeat: no-repeat;
    width:300px;
    height:400px;
    top:0; right:0;

}

.hero-gradient {
    opacity: 0.93;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-40deg, #FF3D84 0%, #FE1E76 100%);
    background-image: linear-gradient(-40deg, #DA0D58 22%, #FA005C 100%);
    transform: skewY(-12deg);
    transform-origin: top left;
    height:1000px;
    z-index: 0
  }

  .hero-gradient > * {
    transform: skewY(12deg);
  }

  .hero-content {
      position:absolute;
      top:380px;
  }

h1 {	
    height: 366px;	
    width: 689.6px;	
    color: #FFFFFF;	font-family: Roboto;	
    font-size: 88px;	
    font-weight: 900;	
    letter-spacing: -0.09px;	
    line-height: 91px;	
    text-shadow: 0 0 1px 0 rgba(0,0,0,0.14), 0 3px 8px 0 rgba(0,0,0,0.13);
    width:480px;
    margin-bottom:52px;
}

p > span {
    color:white;
}

.hero-mobile {
    width:462px;
    margin-left:42px;
}

.btn-primary {
    background-color: white;
    color:#F6307B;
    border: 1px solid #F6307B;
    padding:16px;
    border-radius: 32px;
    width:300px;
}

/* Mobile Section */
#mobile h3 {
    margin: 35px 0 65px 0;
}

#mobile h5 {
    color: #000000;
    margin-bottom: 21px;
}

#mobile p {
    color: rgba(0,0,0,0.54);
    margin-top: 0;
    margin-bottom: 88px;
}

#mobile .col-md-4 img {
    width: 310px;
    margin-left: 22px;
}

.atm {
    content: "";
    display: block;
    background: url("../images/ATM.svg") no-repeat;
    padding-left: 40px;
}
.wallet {
    content: "";
    display: block;
    background: url("../images/wallet2.svg") no-repeat;
    padding-left: 40px;
}
.chart {
    content: "";
    display: block;
    background: url("../images/chart.svg") no-repeat;
    padding-left: 40px;
}
.money {
    content: "";
    display: block;
    background: url("../images/Money.svg") no-repeat;
    padding-left: 40px;
}
.split {
    content: "";
    display: block;
    background: url("../images/split.svg") no-repeat;
    padding-left: 40px;
}
.rouble {
    content: "";
    display: block;
    background: url("../images/Rouble.svg") no-repeat;
    padding-left: 40px;
}

#mobile .col-md-4:nth-child(even) {
    margin-top: 50px;
}

/* Benefits Section */

.benefits-parent {
    height: 740px;
}

.benefits-container {
 position:absolute;
 top:200px;
 height:1000px;
 padding-top: 122px;
 padding-bottom:52px;
 background-color: #1BD2E7;

 transform: skewY(-12deg);
transform-origin: top left;
z-index: -100;
}

.benefits-container > * {
    transform: skewY(12deg);
}

.benefits-container-offset {
    margin-top: -52px;
}

.benefits-box {
    border: 2px solid #1BD2E7;
    padding-left: 46px;
    padding-top: 34px;
    background-color: white;
}

/* OS Section */
#os {
    padding-top: 80px;
    padding-left: 10%;
    padding-right: 10%;
    background: linear-gradient(302.11deg, #FE3AA4 0%, #FB2978 100%);
    color: #FFFFFF;
    width: 100%;
    max-width: 100%;
}

#os h3 {
    margin-bottom: 80px;
}

#os .row {
    height: 462px;
}

#os img {
    left: 28px;
    width: 440px;
    position: absolute;
}

#os .col-md-3:nth-child(1) {
    margin-top: 30px;
}

#os .col-md-3:nth-child(3) {
    display: flex;
    align-items: flex-end;
}

#os p {
    height: 149px;	
    width: 250px;	
    color: #FFFFFF;		
    font-size: 14px;	
    letter-spacing: -0.02px;	
    line-height: 24px;
}

/* Team Section */

#team .col-md-3 {
    margin-bottom: 40px;
}

#team h3 {
    margin: 60px auto;
}

#team p {
    margin: 5px auto;
}

#team .p1 {
    font-weight: 500;
}

#team .p2 {
    color: rgba(0,0,0,0.54);
}
/* Form */
._form-title {
    font-size: 32px !important;
    margin-bottom: 32px !important;
}

._field-wrapper input {
    padding: 16px !important;
}

._field-wrapper select {
    height: 54px !important;
}

._button-wrapper button {
    height: 54px !important;
    width: 100% !important;
}

/* Footer */
#footer {
    color: #FFFFFF;
    background: #241F20;
    min-width: 100%;
    padding: 70px;
}
#footer h1 {
    font-size: 36px;
}

#footer p {
    color: #999;
    margin-top: 15px; 
}

#footer form {
    background: #241F20 !important;
    width: unset;
}

#footer ._form-content {
    display: flex !important;
    flex-flow: row wrap !important;
    justify-content: center !important;
}

#footer ._form_element input, #footer ._button-wrapper button {
    width: 230px !important;
}

#footer ._form-content ._button-wrapper, #footer ._form-content ._form_element {
    /* width: 230px !important; */
    /* flex: 0 0 32% !important; */
}

#footer ._form-content ._button-wrapper, #footer ._form-content ._form_element {
    margin: 0 !important;
}

#footer ._form-content ._form_element:nth-child(1), #footer ._form-content ._form_element:nth-child(2), #footer ._form-content ._button-wrapper {
    margin: 10px 10px !important;
}

#footer label {
    display: none !important;
}

._button-wrapper {
    border: 1px solid #FFFFFF !important;
    border-radius: 4px;
}

._form-branding {
    display: none;
}

._form-thank-you {
    color: #FFFFFF;
    margin-top: 10px;
}

.social-icons {
    list-style-type: disc;
    padding-left: 0;
    margin-top: 30px;
}

.social-icons li {
    display: inline-block;
    margin-right: 5px;
    width: 40px;
    height: 40px;
}

.social-icons li a {
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    line-height: 40px;
    transition: all 0.2s ease-in-out;
}

.social-icons li a:hover {
    color: #F92676;
}

/* Media Queries */
@media only screen and (max-width: 1299px) {
    #mobile p {
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 1244px) {
    #os img {
        width: 417px;
        left: 35px;
    }
}

@media only screen and (max-width: 1185px) {
    #os img {
        width: 396px;
        left: 40px;
    }
    #os .col-md-3:nth-child(1) {
        margin-top: 42px;
    }
    #os p {
        height: 184px;
        width: 250px;
        color: #FFFFFF;
        font-size: 14px;
        letter-spacing: -0.08px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 1140px) {
    #os img {
        width: 365px;
        left: 54px;
    }
    #os p {
        height: 209px;
    }
}

@media only screen and (max-width: 1199px) {
    #mobile .col-md-4 img {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 1099px) {
    #hero h1 {
        font-size: 60px;
    }
}

@media only screen and (max-width: 991px) {
    nav {
        height: 75px;
    }
    .navbar-collapse {
        background: #F92676;
        padding-left: 10px;
        margin-top: -4px;
        padding-bottom: 5px;
    }

    h1 {
        height: 340px;
        font-size: 70px;
        line-height: 82px;
        margin-bottom: 35px;
    }

    .hero-mobile {
        width: 379px;
        margin-left: 20px;
    }

    #mobile .col-md-4 img {
        left: -24px;
        top: -55px;
        position: absolute;
        width: 290px;
        margin-left: 0;
    }

    #mobile h5 {
        font-size: 15px;
    }
    #mobile p {
        font-size: 12px;
        margin-bottom: 30px;
    }
    #mobile .col-md-4:nth-child(even) {
        margin-top: 20px;
    }

    #mobile ul {
        padding-left: 0;
    }
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 80px;
    }

    .hero-content .row .col-md-6:nth-child(1) {
        margin-left: 50px;
    }

    .hero-mobile {
        display: none;
    }

    #mobile .col-md-4 img {
        left: unset;
        top: unset;
        position: unset;
        width: 310px;
        margin-left: 97px;
    }

    #mobile h5 {
        font-size: 24px;
    }
    #mobile h3 {
        margin: 35px 0 25px 0;
    }
    #mobile p {
        font-size: 16px;
    }
    #mobile .col-md-4:nth-child(0) {
        order: 2;
    }
    #mobile .col-md-4:nth-child(1) {
        order: 1;
    }
    #mobile .col-md-4:nth-child(2) {
        order: 3;
        margin-top: 0;
    }
}

@media only screen and (max-width: 667px) {
    /* #footer ._form-content ._button-wrapper, #footer ._form-content ._form_element {
        margin: unset !important;
    } */
    #footer ._form-content ._form_element:nth-child(1), #footer ._form-content ._form_element:nth-child(2), #footer .row .col-md-12 ._form_2 form ._form-content ._button-wrapper {
        margin: 10px 10px !important;
        width: 230px !important;
    }
    #footer ._form_element input, #footer ._button-wrapper button {
        width: 100% !important;
    }
}

@media only screen and (max-width: 600px) {
    #mobile p {
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 530px) {
    h1 {
        font-size: 70px;
    }
}

@media only screen and (max-width: 509px) {
    #mobile h3 {
        font-size: 35px;
    }

    #mobile .col-md-4 img {
        margin-left: 83px;
    }
}

@media only screen and (max-width: 470px) {
    #mobile .col-md-4 img {
        margin-left: 67px;
    }
}

@media only screen and (max-width: 460px) {
    .hero-content .row .col-md-6:nth-child(1) {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 430px) {
    .hero-content .row .col-md-6:nth-child(1) {
        margin-left: 0px;
    }

    #mobile .col-md-4 img {
        margin-left: 45px;
    }
}

@media only screen and (max-width: 400px) {
    #mobile .col-md-4 img {
        margin-left: 36px;
    }
}

/* Helper Classes */
.h3 {
    font-size: 42px;
    font-weight: 900;
}

.h4 {
    font-size: 28px;
    font-weight: 900;
}

.h5 {
    font-size: 24px;
    font-weight: 500;
}

.h6 {
    font-size: 20px;
    font-weight: 500;
}

.p1 {
    font-size: 16px;
}

.p2 {
    font-size: 14px;
}
